PORT=5000
NODE_ENV=development

MONGO_URI=mongodb://subham7860:subham7860@sending-shard-00-00.v1kry.mongodb.net:27017,sending-shard-00-01.v1kry.mongodb.net:27017,sending-shard-00-02.v1kry.mongodb.net:27017/?ssl=true&replicaSet=atlas-ueh6u3-shard-0&authSource=admin&appName=sending

JWT_SECRET=ishani_secret_12345
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173

# ===== RAZORPAY (baad me add karo) =====
RAZORPAY_KEY_ID=rzp_test_Tdp4MeVHYvqKQH
RAZORPAY_KEY_SECRET=0Nsg31hfrJkRrJ61TFV0XTQT